[Unit]
Description=Fetch Service
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/opc/fetch
Environment="PATH=/home/opc/fetch/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="PYTHONPATH=/home/opc/fetch"
ExecStart=/home/opc/fetch/run.sh
User=opc

[Install]
WantedBy=multi-user.target 